body {
    font-family: Arial, sans-serif;
    background: #cc89ad; 
    margin: 0; 
    padding: 20px;
}

header{
    padding: 15px; 
    border-radius: 10px; 
    text-align: center;
}

h1 {
    font-size:large; 
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 900;
    color:#43122f
}

nav {
    background-color: #f0dfe9; 
    padding: 15px; 
    border-radius: 10px; 
    text-align: center;
}

nav a {
    color: rgb(175, 70, 0); 
    margin-right: 15px; 
    text-decoration: none;
}

section {
    margin: 20px; 
    padding: 20px; 
    background-color: rgb(133, 9, 89);
    border-radius: 10px;
}

section h2 {
    color: rgb(248, 218, 226); 
    text-align: center; 
    padding: 20px;
}

section div {
    background-color: rgb(199, 76, 156); 
    padding: 20px; 
    margin-bottom: 10px; 
    border-radius: 8px;
}

section h3 {
    font-size: large; 
    font-weight: bolder;
    text-align: left; 
}

section p {
    font-size: medium;
}

button{
    padding: 10px 20px; 
    border-radius: 8px; 
    border: none; 
    background-color: #f5f5f4; 
    color: rgb(123, 8, 104);
    cursor: pointer; 
    font-weight: bold;
}

button:hover {
    background-color: #be3d02;
}